<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Charles Thomas">
        <meta name="description" content="The personal blog and site of a teenage developer.">
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style2.css") }}">
        <title>{% block title %}Charles Thomas | Developer {% endblock %}</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <script src="{{ url_for("static", filename="Chart.min.js" )}}"></script>
        {% if not current_user.is_authenticated() %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-61543929-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </head>
    <body>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=644334525693753&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div id="wrap">
            <header>
                <nav id="site-nav">
                    <h1>Charles Thomas</h1>
                    <div class="v-wrap">
                        <div class="v-box">
                            <ul class="">
                                <li>
                                    <a href="{{ url_for("posts_blueprint.index") }}">
                                        BLOG
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("about") }}">
                                        ABOUT
                                    </a> 
                                </li>
                                <li>
                                    <a href="{{ url_for("projects_blueprint.portfolio") }}">
                                        PORTFOLIO
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("treehouse_blueprint.points") }}">
                                        TEAM TREEHOUSE
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("contact") }}">
                                        CONTACT
                                    </a>
                                </li>
                                <li>
                                    {% if current_user.is_authenticated() %}
                                        <a href="{{ url_for("logout") }}">
                                            LOGOUT
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for("login") }}">
                                            LOGIN
                                        </a>
                                    {% endif %}
                                </li>    
                            </ul>
                        </div>
                    </div>
                </nav>
                
            </header>
            <div class="main">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <p class="footer">
                &copy; Charles Thomas 2015
            </p>
        </footer>
        
        
        {% for message in get_flashed_messages() %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>