{% extends "layout.html" %}
{% block body %}
    <h3>Posts</h3>
    <table id="posts-table">
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        {{ post.title }} - {{ post.posted_at }}
                    </td>

                    <td>
                        <button class="btn btn-info btn-lg" onclick="location.href='{{ url_for("posts_blueprint.post", id=post.id) }}'">
                            View
                        </button>
                    </td>

                    {% if current_user.is_authenticated() %}

                        <td>
                            <button class="btn btn-warning btn-lg" onclick="location.href='{{ url_for("posts_blueprint.update", id=post.id) }}'">
                                Edit
                            </button>
                        </td>

                        <td>
                            <button class="btn btn-danger btn-lg" onclick="location.href='{{ url_for("posts_blueprint.delete", id=post.id) }}'">
                                Delete
                            </button>
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if current_user.is_authenticated() %}
        <button class="btn btn-success btn-lg" onclick="location.href='{{ url_for("posts_blueprint.add") }}'">Add A Post</button>
    {% endif %}
{% endblock %}